//
// Base styles
// ============================

body.bootcamp-teaser {
  background-color: $white;

  .site-inner {
    padding-top: 0;
  }

  .site-inner .wrap, .wrap {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .entry {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    @include rem( font-size, 20px );
  }
}

.animated {
  //transition-duration: 0.8s;

  &.delay {
    animation-delay: 1s;
  }
}