//
// Base styles
// ============================

body.bootcamp-teaser {
  background-color: $white;

  .site-inner {
    padding-top: 0;
  }

  .site-inner .wrap, .wrap {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .entry {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    @include rem( font-size, 20px );
  }
}

.bootcamp-section, .header-hero {
  .wrapper {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 100px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1599px) {
      width: 80%;
    }

    @media screen and (min-width: 1600px) {
      width: 100%;
    }

  }
}

.animated {
  &.delay {
    animation-delay: 1s;
  }
}

.button.--pop {
  box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.12);
}