.catfish {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 50px;
    z-index: 99999;

    .button {
      font-size: 16px;
    }
  }
}

.catfish--slideIn {
  animation-delay: 3s;
  @include animate-prefixer(animation-name, catfishSlideIn);
}

@-webkit-keyframes catfishSlideIn {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes catfishSlideIn {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
