//
// Track colors
//===========================

.bootcamp-focus--header {
  line-height: 2;
  margin: 40px 0;
  font-weight: 300;
}

$colorTechnical: $colorWordPress;
$colorBusiness: lighten( $green, 18% );
$colorPM: #f0da50;

.--color {

  &-technical, &-business, &-project-management {
    color: $darkBlue;
    padding: 5px;
  }
  &-technical {
    background-color: $colorTechnical;
    color: $white;
  }

  &-business {
    background-color: $colorBusiness;
  }

  &-project-management {
    background-color: $colorPM;
  }
}

.highlight {
  .fa.make-a-point--icon {
    @include rem( font-size, 40px );
    padding-left: 10px;

    @media screen and (min-width: 1025px) {
      @include rem( font-size, 50px );
    }
  }
}

.--technical,
.boxed-grid--callout.--technical,
.highlight.--technical {
  background-color: $colorTechnical;

  h1,h2,h3,h4,h5,h6, p, .fa, .fa.make-a-point--icon, & {
    color: $white;
  }
}

.--business,
.boxed-grid--callout.--business,
.highlight.--business {
  background-color: $colorBusiness;

  h1,h2,h3,h4,h5,h6, p, .fa, .fa.make-a-point--icon, & {
    color: $darkBlue;
  }
}

.--project-management,
.boxed-grid--callout.--project-management,
.highlight.--project-management {
  background-color: $colorPM;

  h1,h2,h3,h4,h5,h6, p, .fa, .fa.make-a-point--icon, & {
    color: $darkBlue;
  }
}

.button,
a.button,
.entry-content a.button {
  &.--technical,
  &.--business,
  &.--project-management {
    color: $darkBlue;

    &:hover {
      border-color: $darkBlue;
      background-color: $darkBlue;
    }
  }

  &.--technical {
    border-color: $colorTechnical;
    background-color: $colorTechnical;
    color: $white;

    &:hover {
      background-color: $white;
      color: $colorTechnical;
    }
  }

  &.--business {
    border-color: $colorBusiness;
    background-color: $colorBusiness;

    &:hover {
      color: $colorBusiness;
    }
  }

  &.--project-management {
    border-color: $colorPM;
    background-color: $colorPM;

    &:hover {
      color: $colorPM;
    }
  }
}