.fullpage-optin-section {
  position: fixed;
  top: 0;
  opacity: 0;

  background-color: $lightOlive;

  width: 0%;
  height: 100%;
  z-index: 999999999;

  > .wrapper {
    position: relative;
    padding: 100px 5%;
  }

  body.fullpage-optin__open & {
    opacity: 1;
    width: 100%;
    min-height: 500px;
    overflow: auto;
  }

  .fullpage-option--close-button {
    position: absolute;
    font-size: 30px;
    top: 40px;
    right: 40px;
    border-bottom: 0;
  }
}