//
// Bootcamp hero section
// ============================

.header-hero {
  min-height: 550px;

  @media screen and (min-width: 768px) {
    background-color: $white;
    background-image: linear-gradient(rgba(255,255,255, 0.5) 100%, $white),
        url(#{$image--path}/profitable-developer-bootcamp-hero.png);

    //background-image: url(#{$image--path}/header-green-abstract.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    min-height: 800px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1399px) {
    min-height: 700px;
  }

  @media screen and (min-width: 1400px) {
    min-height: 800px;
  }

  .wrapper {
    padding-top: 120px;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
    }
  }

  overflow: hidden;
  position: relative;

  h1, h2, h3, h4, h5, p {
    color: $darkBlue;
  }

  h2.tagline {
    @include rem( font-size, 26px );
    margin-bottom: 30px;

    @include media($smaller-screen) {
      @include rem( font-size, 30px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 50px );
    }
    @include media($large-screen-up) {
      @include rem( font-size, 60px );
    }
  }

  h1 {
    @include rem( font-size, 20px );

    @include media($smaller-screen) {
      @include rem( font-size, 24px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 40px );
    }
    @include media($large-screen-up) {
      @include rem( font-size, 48px );
    }
  }

  h3 {
    color: $orange;

    @include rem( font-size, 16px );
    @include media($smaller-screen) {
      @include rem( font-size, 18px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 20px );
    }
    @include media($large-screen-up) {
      @include rem( font-size, 24px );
    }

    em {
      border-bottom: 1px dotted $orange;
    }
  }
}

.entry-content .bootcamp-hero {
  a.button, .button {
    margin-top: 30px;
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    color: $white;
    &.first {
      margin-right: 2%;
      @include media($small-screen-up) {
        margin-right: 40px;
      }
    }

    &:hover, &:focus, &:active {
      background-color: $green;
      border-color: $green;

      &.green {
        background-color: $orange;
        border-color: $orange;
      }
    }
  }
}

.entry-content .hero-quick-links ul {
  margin-left: 0;
}

.hero-quick-links {
  overflow: hidden;

  margin: 30px 0 60px;

  @media screen and (min-width: 768px) {
    margin: 30px 0 20px;
  }

  .genesis-nav-menu {

    .menu-item, a {
      margin-left: 0;
      margin-right: 0;
      display: block;

      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }

    a {
      background-color: $green;
      color: $white;

      &:hover {
        background-color: transparent;
        color: $darkBlue;
      }
    }
  }
}

.tagline .delay {
  animation-delay: 1.5s;
}
