//
// Bootcamp Teaser Sections
//=========================

.bootcamp-section {

  padding: 80px 0;

  &.--background-white {
    background-color: $white;
  }

  &.--background-olive {
    background-color: $lightOlive;
  }

  &.--background-blue {
    background-color: $darkBlue;
  }
}

.bootcamp-section--header {
  margin-top: 40px;
}