//
// Pre-Footer
//=======================

.prefooter {
  background-color: $green;
  //min-height: 130px;

  color: $white;
  text-align: center;

  .wrap {
    padding: 20px 30px;
  }
}

.prefooter .textwidget {
  @include media(768px) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.prefooter {

  @include media(768px) {
    .message, .button {
      float: left;
    }
  }

  .message {
    @include rem( font-size, 20px );
    font-family: $heading-font-family;
    margin-right: 20px;
    margin-bottom: 20px;

    @include media(768px) {
      margin-bottom: 0;
    }

    @include media(1280px) {
      @include rem( font-size, 30px );
    }
  }

  .button.orange {
    color: $white;
    border: $orange;

    @include media($medium-screen) {
      @include rem( font-size, 22px );
    }

    &:hover, &:focus, &:active {
      color: $green;
      border: $green;
    }

  }
}