//
// Scroll Up
//===============================

.scrollup {
  z-index: 99999;
  border-bottom: none;
  background-color: $green;
  color: $white;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;

  @include media($small-screen-up) {
    &.active {
      display: block;
    }
  }

  .fa {
    @include rem( font-size, 40px );
  }

  &:hover {
    color: $orange;
  }
}