blockquote {
  color: $black;
  margin: 30px 0;
  padding: 0;

  border-left: 10px solid $green;
  padding-left: 20px;

  p:last-child {
    margin-bottom: 0;
  }
}

.quote-caption {
  margin-bottom: 26px;
}