/*!
  Bootcamp Teaser Stylesheet

  Version: 1.0.16

*/

// Configuration
//$base-duration: 1.3s;

$use-tada: true;
$use-bounceInDown: true;
$use-bounceInUp: true;
$use-fadeInDownBig: true;
$use-fadeOut: true;
$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeInDown: true;

// CSS path dist/css/
$image--path: '../../images';

@import 'base-stuff';

@import "templates/bootcamp-teaser/index";