.popup--fullpage,
.bootcamp-topics-panel,
.teacher-bio {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;

  width: 100%;
  height: 100%;

  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;

  > .wrapper {
    padding: 100px 5%;
  }

  &.panel--is-open {
    min-height: 500px;
    overflow: auto;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s;
    z-index: 999999999;
  }

  .popup-close--button {
    position: absolute;
    font-size: 26px;
    top: 40px;
    right: 40px;
    border-bottom: 0;
    background-color: $white;
    color: $darkBlue;
    padding: 5px 7px;

    &:hover {
      background-color: $darkBlue;
      color: $white;
    }
  }

  h3 {
    text-align: left;
  }

  img {
    width: 200px;
    @include media(768px) {
      width: 300px;
    }
    border-radius: 50%;
  }

  ul {
    margin: 20px 0px 26px 20px;

    @media screen and (min-width: 768px) {
      margin-left: 40px;
    }
  }
}

.teacher-bio {
  background-color: rgba( $lightOlive, 0.98 );
}

// Topics Popup Panels
.bootcamp-topics-panel {

  p,h1,h2,h3,h4,h5,h6, & {
    color: $darkBlue;
  }

  &.--technical {
    background-color: rgba($colorTechnical, 0.98);

    p,h1,h2,h3,h4,h5,h6, & {
      color: $white;
    }
  }

  &.--business {
    background-color: rgba($colorBusiness, 0.98);
  }

  &.--project-management {
    background-color: rgba($colorPM, 0.98);
  }
}

// Misc Popups
.bootcamp-venue-panel,
.bootcamp-sponsor-panel {
  &.popup--fullpage {
    background-color: $lightOlive;

    p, h1, h2, h3, h4, h5, h6, & {
      color: $darkBlue;
    }

    img {
      border-radius: 0;
      width: 100%;
    }

    iframe {
      width: 100%;
    }
  }
}
