//
// Home (front) page
// ============================

body.home {
  background-color: $white;

  .site-inner .wrap {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .entry {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
  }
}