.testimonial--cta {
  background: linear-gradient( rgba(27,32,45,0.85) 100%, $darkBlue),
    url(#{$image--path}/KTCToPowerofWP.png) repeat center $darkBlue;

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  overflow: hidden;
  min-height: 300px;

  .wrapper {
    margin: 0 auto;
    max-width: $max-width;
    padding: 80px 5%;
    @include media($medium-screen-up) {
      max-width: $wrap-max-width-medium;
      padding: 120px 0;
    }

    @include media($large-screen-up) {
      max-width: $wrap-max-width-large;
    }
  }

  h2, h3, h4, p, blockquote {
    color: $white;
    text-align: center;
    margin: 0;
  }

  blockquote {
    font-size: 26px;
  }
}