.testimonial--cta {
  overflow: hidden;

  background: linear-gradient( rgba(27,32,45,0.85) 100%, $darkBlue),
      url(#{$image--path}/KTCToPowerofWP.png) repeat center 50% $darkBlue;
  padding: 20px 5%;

  @media screen and (min-width: 768px) {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    padding: 0;
    min-height: 300px;
  }

  h4 {
    color: $white;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.4;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }
}