//
// Home hero section
// ============================

.home-hero {
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-image: url(#{$image--path}/KTC-hero-1.jpg);

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  height: 550px;

  text-align: center;

  h1 {
    @include rem( font-size, 26px );

    @include media($smaller-screen) {
      @include rem( font-size, 30px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 50px );
    }
    @include media($large-screen-up) {
      @include rem( font-size, 60px );
    }
  }

  h2 {
    @include rem( font-size, 16px );
    @include media($smaller-screen) {
      @include rem( font-size, 20px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 24px );
    }
    @include media($large-screen-up) {
      @include rem( font-size, 28px );
    }
  }

  h3 {
    color: $orange;

    @include rem( font-size, 16px );
    @include media($smaller-screen) {
      @include rem( font-size, 18px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 20px );
    }
    @include media($large-screen-up) {
      @include rem( font-size, 24px );
    }

    em {
      border-bottom: 1px dotted $orange;
    }
  }
}

.entry-content .home-hero {
  a.button, .button {
    margin-top: 30px;
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    color: $white;
    &.first {
      margin-right: 2%;
      @include media($small-screen-up) {
        margin-right: 40px;
      }
    }

    &:hover, &:focus, &:active {
      background-color: $green;
      border-color: $green;

      &.green {
        background-color: $orange;
        border-color: $orange;
      }
    }
  }
}