//
// The Value
//==========================

body.home .site-inner .the-value .wrap {
  max-width: $max-width;
  padding: 40px 5%;
  @include media($medium-screen-up) {
    max-width: $wrap-max-width-medium;
    padding: 40px 0;
  }

  @include media($large-screen-up) {
    max-width: $wrap-max-width-large;
  }
}

.the-value {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  background-image: linear-gradient(
                  rgba(200,207,169,0.7) 100%, $lightOlive),
                  url(#{$image--path}/wordpress-developer-hero.jpg);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 450px;
  text-align: center;

  @include media($large-screen-up) {
    height: 600px;
  }

  @include media($large-screen-up) {
    height: 1000px;
  }

  h2, h3, p {
    color: $darkBlue;
  }
  
  h3, p {
    text-align: left;
  }

  h2 {
    @include rem( font-size, 26px );

    @include media($smaller-screen) {
      @include rem( font-size, 30px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 50px );
    }
  }

  .qa-question {
    background-color: $green;
    text-align: left;
    color: $white;
  }

  .qa-answer {
    text-align: left;
    background-color: $white;
  }
}