//
// The Value
//==========================

.the-value {
  position: relative;

  background-image: linear-gradient(
                  rgba(200,207,169,0.7) 100%, $lightOlive),
                  url(#{$image--path}/wordpress-developer-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 600px;

  padding-top: 80px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  @include media($large-screen-up) {
    height: 600px;
  }

  @include media($large-screen-up) {
    height: 1000px;
  }

  h2, h3, p {
    color: $darkBlue;
  }
  
  h3, p {
    text-align: left;
  }

  .the-value--header h2 {
    text-align: left;
    @include rem( font-size, 26px );

    @include media($smaller-screen) {
      text-align: center;
      @include rem( font-size, 30px );
    }
    @include media($small-screen-up) {
      text-align: center;
      @include rem( font-size, 50px );
    }
  }

  .the-value--message {
    @include rem( font-size, 20px );

    @include media($smaller-screen) {
      @include rem( font-size, 26px );
    }
    @include media($small-screen-up) {
      @include rem( font-size, 36px );
    }
  }

  .qa-question {
    background-color: $green;
    text-align: left;
    color: $white;
  }

  .qa-answer {
    text-align: left;
    background-color: $white;
  }
}