@media screen and (min-width: 900px) {
  .content {
    float: left;
    width: 60%;
  }

  .sidebar {
    float: right;
    width: 38%;
  }
}

.wrap, .wrapper {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 100%;
  word-wrap: break-word;

  @include media($large-screen-up) {
    max-width: 1220px;
    padding: 0;
  }
}

