//
// Membership page
// the background image is in _page-headers.scss
// ===================

body {
  background-color: $white;

  .site-inner {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 100px;

    @media screen and (min-width: 768px) and (max-width: 1025px - 1px) {
      padding-top: 75px;
    }
    @media screen and (min-width: 1025px) {
      padding-top: 125px;
    }
  }

  &.go-pro {
    .site-inner {
      padding-top: 0;

      .wrap {
        padding: 0;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .entry {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
  }
}
