//
// Testimonials
//========================

.gopro--testimonials {

  padding: 60px 0;

  p {
    font-size: 20px;
  }

  h2 {
    text-align: center;
    &::after {
      content: '';
      width: 200px;
      height: 5px;
      display: block;
      border: 5px solid $green;
      margin: 20px auto 40px;
    }
  }
}

.gopro--testimonial {
  border-left: 0;
  padding-left: 0;

  background-color: #ccc;
  padding: 20px;
}