//
// Footer Logos
//========================

.partners__footer_logos {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;

  @include media(800px) {
    float: left;
    margin: 0;
    text-align: left;
  }
}

.partners__footer_image {
  border-bottom: none;
  margin:0 auto;

  img, & {
    width: 80px;
    height: 80px;

    @include media(768px) {
      margin: 0;
      width: 110px;
      height: 110px;
    }
  }
}