//
// Typography
// Dynamically create each of the class attributes
//=====================

.--color {
  &-orange {
    color: $orange;
  }

  &-green {
    color: $green;
  }
  &-blue {
    color: $darkBlue;
  }

  &-white {
    color: $white;
  }
}

.--rotate-text {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

$dataset_fontWeight: 100, 200, 300, 500, 600, 700, 800;
@each $weight in $dataset_fontWeight {
  .--font-weight-#{$weight} {
    font-weight: $weight;
  }
}

$dataset_fontSizes: (
        '70': 70%,
        '80': 80%,
        '90': 90%,
        '110': 110%,
        '120': 120%,
        '130': 130%,
        '140': 140%,
        '150': 150%
);
@each $size, $percent in $dataset_fontSizes {
  .--font-size-#{$size}p {
    font-size: $percent;
  }
}

@each $textAlign in center, right, left {
  .--text-align-#{$textAlign} {
    text-align: $textAlign;
  }
}
