.subnav-close--button {
  z-index: 51;

  .site-header--subnav-header & {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: $white;
    color: $orange;

    font-size: 26px;
    line-height: 26px;
    padding: 6px;

    border: none;

    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;

    &:hover {
      background-color: $orange;
      color: $white;
    }

    span {
      display: block;
      font-size: 12px;
      line-height: 1;
      text-transform: lowercase;
    }
  }
}