/* Author Box & Archive
--------------------------------------------- */

.author-box,
.archive-description {
  background-color: $author-box-background;
}

.author-box-title {
  font-size: $box-title-size;
  margin-bottom: 10px;
}

.author-box a {
  border-bottom: 1px solid lighten($black, 85);
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}