//
// Big Button Callouts
// ============================

.big-button-callouts {
  overflow: hidden;
}

.big-button__button {
  float: left;
  height: 300px;
  width: 100%;
  padding: 16px;
  border-bottom: none;

  background-color: $blue;
  color: $white;

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  text-align: center;
  @include rem( font-size, 30px );

  &.orange {
    background: $orange;
    color: $blue;
  }

  &.green {
    background: $green;
    color: $blue;
  }

  &:hover, &:focus, &:active {
    background-color: #e1e5cc;
    color: #1c202c;
    border-color: transparent;

    &.orange {
      background-color: #f6dbd0;
    }

    &.green {
      background-color: #dde7a9;
    }
  }

  &.gray {
    background-color: #ced2b7;
    color: $black;
    &:hover, &:focus, &:active {
      background-color: #d1d2d6;
      color: #cc4b14;
    }
  }

  @include media($smaller-screen-up) {
    @include rem( font-size, 22px );
    width: 50%;
  }

  @include media($small-screen-up) {
    @include rem( font-size, 22px );
    width: 25%;
  }
  @include media($large-screen-up) {
    @include rem( font-size, 30px );
  }
}

.big-button__description {
  @include rem( font-size, 18px );
  font-weight: 400;

  @include media($small-screen-up) {
    @include rem( font-size, 16px );
  }
  @include media($large-screen-up) {
    @include rem( font-size, 18px );
  }
}