//
// Callout
//=====================

.callout {
  background-color: $green;
  padding: 30px 50vw;
  margin: 40px -50vw;
  overflow: hidden;

  h1, h2, h3, h4, h5, p, & {
    color: $white;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.gray {
    background-color: $titleBannerColor;
  }

  &.orange {
    background-color: $orange;
  }

  &.blue {
    background-color: $darkBlue;
  }

  &.wordpress {
    background-color: $colorWordPress;
  }

  &.genesis {
    background-color: $colorGenesis;
  }

  &.php {
    background-color: $colorPHP;
  }

  &.jquery {
    background-color: $colorjQuery;
  }

  &.gray, &.yellow, &.jquery {
    h1, h2, h3, h4, h5, p {
      color: $base--color;
    }
  }
}