//
// Callout
//=====================

.callout {
  background-color: $green;
  padding: 30px 50vw;
  margin: 40px -50vw;
  overflow: hidden;

  h1, h2, h3, h4, h5, p, & {
    color: $white;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.gray {
    background-color: $titleBannerColor;
  }

  &.orange {
    background-color: $orange;
  }

  &.blue {
    background-color: $darkBlue;
  }

  &.wordpress {
    background-color: $colorWordPress;
  }

  &.genesis {
    background-color: $colorGenesis;
  }

  &.php {
    background-color: $colorPHP;
  }

  &.jquery {
    background-color: $colorjQuery;
  }

  &.gray, &.yellow, &.jquery {
    h1, h2, h3, h4, h5, p {
      color: $base--color;
    }
  }
}

.cta--poweredbywp {
  overflow: hidden;

  background: linear-gradient( rgba(206,210,183,0.90) 100%, #ced2b7),
  url(#{$image--path}/KTCToPowerofWP.png) repeat center 50% #ced2b7;

  //background: linear-gradient( rgba(255,255,255,0.90) 100%, $white),
  //    url(#{$image--path}/KTCToPowerofWP.png) repeat center 50% $white;

  padding: 20px 5%;

  @media screen and (min-width: 768px) {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    padding: 0;
    min-height: 300px;
  }

  h4 {
    color: $darkBlue;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }
}