.highlighter {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}

.highlight-under {
  box-shadow: inset 0 -10px 0 $highlight-color;

  &--olive {
    box-shadow: inset 0 -10px 0 $lightOlive;
  }

  &--orange {
    box-shadow: inset 0 -10px 0 $orange;
  }

  &--green {
    box-shadow: inset 0 -10px 0 $green;
  }
}