//
// Learn. Do. List
//=========================

.learn-do-container {
  .central-circle {
    display: table;
    position: relative;
    margin: 0 auto;
    width: 18.75vw;
    height: 18.75vw;
  }
  .section-header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .learn-do-list {
    margin-bottom: 0;
  }

  .technology {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
    @include rem( font-size, 30px );

    @include transform( translate3d(0, 0, 0) );
    @include transform-style(preserve-3d);

    border: 1px solid $black;
    padding: 20px;
    @include border-top-radius(50%);
    @include border-right-radius(50%);
    @include border-bottom-radius(50%);
    @include border-left-radius(50%);

    &.computing {
      bottom: 100%;
      left: 50%;
      margin-left: -30px;
      margin-bottom: 60px;
    }

    &.php {
      bottom: 70%;
      right: 100%;
      margin-right: 50px;
    }

    &.javascript {
      bottom: 80%;
      left: 100%;
      margin-left: 30px;
    }

    &.wordpress {
      bottom: -20%;
      right: 100%;
      margin-right: 29px;
    }

    &.genesis {
      bottom: -50%;
      right: 50%;
    }

    &.jquery {
      bottom: -40px;
      left: 100%;
      margin-left: 15px;
    }

  }

}