.help-center__qa {
  margin: 80px 0 40px;
}

.menu__topics, .menu__topics.current-menu-item {
  a {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $green;
    }
  }
}