.topics__sidebar {
  background-color: $gray;
  padding: 40px 20px;

  ul {
    padding: 0;
    list-style: none;
    @include rem( font-size, 14px );
    line-height: 16px;

    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 14px;
    margin: 3px 0 0;
  }

  a {
    color: #474a54;
    border-bottom: none;

    &:hover {
      color: $black;
    }
  }
}

.topic__title {

}