.sidebar--embed {
  padding: 20px;

  margin-bottom: 30px;

  @media screen and (min-width: 600px) {
    @include omega();
    clear: right;
  }

  @media screen and (min-width: 600px) and (max-width: 1023px) {
    @include span-columns(6);
  }

  @media screen and (min-width: 1024px) {
    @include span-columns(4);
  }

  p:last-child {
    margin-bottom: 0;
  }

}