//
// User History Page
//==================================

ul.uhlist--container {
  width: 100%;
  list-style: none;
  margin: 0 0 30px;

  > li {
    list-style-type: none;
    display: table;
    margin-left: 0;
  }
}

.uhlist--item {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $gray;

  span {
    display: table-cell;
    width: 30px;
    margin-right: 10px;
    //text-align: center;
    vertical-align: middle;
  }

  &:nth-child(even) {
    background-color: $gray;
  }

  a {
    font-weight: normal;
    color: $black;
    &:hover {
      color: $orange;
    }
  }
}