//
// Archive page headers
//===========================
.archive-description {
  p {
    margin: 0 0 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.archive-description,
body.single-docx .entry.docx .entry-header {
  background-size: cover;
}

body.php .archive-description,
body.single-docx .entry.docx.technologies-php .entry-header {
  background-image: url(#{$imagePath}/header-php-3.jpg);
}

body.wordpress .archive-description,
body.single-docx .entry.docx.technologies-wordpress .entry-header {
  background-image: url(#{$imagePath}/header-wordpress-3.jpg);
}

body.genesis .archive-description,
body.single-docx .entry.docx.technologies-genesis .entry-header {
  background-image: url(#{$imagePath}/header-genesis-3.jpg);
}

body.javascript .archive-description,
body.single-docx .entry.docx.technologies-javascript .entry-header {
  background-image: url(#{$imagePath}/header-javascript-3.jpg);
}

body.jquery .archive-description,
body.single-docx .entry.docx.technologies-jquery .entry-header {
  background-image: url(#{$imagePath}/header-jquery-3.jpg);
}

body.single-docx .entry.docx .entry-header .entry-title {
  margin-bottom: 0;
}