//
// Big Button Callouts
// ============================

.big-button-callouts {
  overflow: hidden;
  margin: 40px 0;

  &::after {
    content: '';
    clear: both;
  }
}

.big-button__button {
  float: left;
  height: 300px;
  width: 100%;
  padding: 16px;
  border-bottom: none;

  background-color: $blue;
  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include rem( font-size, 30px );

  @include media($smaller-screen-up) {
    @include rem( font-size, 22px );
    width: 50%;
  }

  @include media($small-screen-up) {
    @include rem( font-size, 22px );
    width: 25%;
  }
  @include media($large-screen-up) {
    @include rem( font-size, 30px );
  }
}

.big-button--icon {
  display: block;
  text-align: center;

  @include media($medium-screen-up) {
    @include rem( font-size, 40px );
  }

  @include media($large-screen-up) {
    @include rem( font-size, 50px );
  }
}

.big-button__description {
  @include rem( font-size, 18px );
  font-weight: 400;

  @include media($small-screen-up) {
    @include rem( font-size, 16px );
  }
  @include media($large-screen-up) {
    @include rem( font-size, 18px );
  }
}