.entry-content .quick-start {
  ol li, ul li {
    margin-left: 0;
  }
  ul > li {
    list-style-type: none;
  }
}
.quick-start {
  overflow: hidden;
  @include media($small-screen-up) {
    margin-left: -40px;
    margin-right: -40px;
  }

  ul {
    list-style: none;
    @include media($small-screen-up) {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  li {
    height: 200px;

    @include media($smaller-screen-up) {
      @include rem( font-size, 22px );
    }

    @include media($small-screen-up) {
      @include rem( font-size, 22px );
      flex: 1;
      &::before {
        z-index:10;
        content: " ";
        position: absolute;
        left: -1px;
        top: 50px;
        @include triangle(100px 20px, $white, right);
      }
    }
    @include media($large-screen-up) {
      @include rem( font-size, 30px );
    }
    position:relative;

  }

  .big-button {
    padding: 5px;
    height: 200px;
    width: 100%;
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    @include rem( font-size, 30px );
    border-bottom: none;
    background-color: $blue;

    @include media($large-screen-up) {
      @include rem( font-size, 40px );
    }

    &.orange {
      background-color: $orange;
    }

    &.yellow {
      background-color: $yellow;
      color: $blue;
    }

    &.green {
      background-color: $green;
    }

    &.php {
      background-color: $colorPHP;
    }

    &.wordpress {
      background-color: $colorWordPress;
    }

    &.genesis {
      background-color: $colorGenesis;
    }

    &.jquery {
      background-color: $colorJS;
    }

    &.js {
      background-color: $colorJS;
    }

    &:hover, &:focus, &:active {
      background-color: $green;

      &.green {
        background-color: $blue;
      }

      &.yellow {
        color: $white;
      }
    }

    .big-button-description {
      @include rem( font-size, 18px );
      font-weight: 400;

      @include media($small-screen-up) {
        @include rem( font-size, 16px );
      }
      @include media($large-screen-up) {
        @include rem( font-size, 18px );
      }
    }
  }
}