.partner__content {
  padding: 0 4px 4px;
  p {
    margin-bottom: 0;
  }
}

.partner__adspot .partner__content {
  @include rem( font-size, 12px );

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -50px;
    padding-top: 0;
    text-align: left;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: $partner_tabletContentWidth;
    height: $partner_tabletContentHeight;
  }

  @media screen and (min-width: 1280px) {
    width: $partner_desktopContentWidth;
    height: $partner_desktopContentHeight;
    @include rem( font-size, 13px );
  }
}

.partner__summary {
  margin: 0 0 4px;
}