//
// Colors
//======================

$green: #627f00; // primary brand color
$black: #010204; // text color
$darkBlue: #1b202d; // heading color

$blue: #1c202c;
$lightOlive: #c8cfa9;

$white: #fff;
$orange: #cb4b14;

$gray: #cccccc;
$red: #FF4614;
$yellow: #ffc40d;

$colorPHP: #777bb4;
$colorJS: #f0da50;
$colorjQuery: #0d4872;
$colorWordPress: #00749b;
$colorGenesis: #1e1e1e;
$titleBannerColor: #f2f2f2;

$colorPro: #adcd00;
$colorProBorder: #adcd00;
$colorBasic: #f58728;
$colorBasicBorder: #f48728;
$colorFree: #465573;

$highlight-color: $yellow; //#868686;
$background--accent-color: #ced2b7;
$sidebar--color: #868686;
$sidebar--hover-color: $darkBlue;

//
// Color Configuration
//===========================
$link--color: $orange;
$link--hover-color: $black;

// Elements
$base--color: $black;
$body--background-color: $white;

$comments-background-color: $white;
$author-box-background: lighten($black, 92);