//
// Widths
//==================================

$max-width: 1140px;

$base-wrap-max-width: $max-width - 372px; // 768px;
$wrap-max-width-medium: $max-width - 180px; // 960px
$wrap-max-width-large: $max-width;

$site-header--width: 70px;
$headerHeight: 98px;

$logo--width-full-layout: 50px;
$logo--height-full-layout: 50px;
$logo--width: 50px;
$logo--height: 50px;

//=====================
// Hamburger dimension
//=====================
$hamburger--width: 60px;
$hamburger--height: 55px;