//
// Intro section
//========================

.partners--intro {
  text-align: left;

  p {
    margin-bottom: 0;
  }

  @include media(768px) {
    float: left;
    display: inline-block;
    padding-right: 3%;
    width: 31%;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {

    h2 {
      @include rem( font-size, 26px );
    }

    p {
      @include rem( font-size, 14px );
    }
  }
}