.boxed-grid {

  width: 100%;
  min-height: 300px;
  padding: 20px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin-bottom: 0;
  }

  @media screen and (min-width: $full-layout--screen) {
      float: left;
      flex: 1;
      width: 50%;
      margin: 0;

    @include omega(2n);
  }

  &--callout {
    background-color: $background--accent-color;
    font-size: calc(20px + (30 - 20) * ((100vw - 400px) / (1200 - 400)));
  }

  &--content {
    border: 1px solid $background--accent-color;
  }

  &--right {
    @media screen and (min-width: 768px) {
      float: right;
    }
  }

  &--nopadding {
    padding: 0;
  }

  &--gif {
    padding: 0;

    img {
      margin-bottom: 0 !important;
    }
  }
}