.embedpost--entry-meta {
  color: $darkBlue;
  font-weight: 400;
}

.embedpost--image {
  border-bottom: none;
}

.embedpost--entry-title a {
  color: $darkBlue;
  font-weight: 400;
  @include rem(font-size, 22px);

  &:hover {
    color: $orange;
  }
}

.embedpost--parent-title {
  font-weight: 400;
  @include rem(font-size, 16px);
  padding: 10px;
  background-color: #ccc;
}
