.episode__signup {
  text-align: center;

  margin-left: -24vw;
  margin-right: -24vw;
  padding-left: 24vw;
  padding-right: 24vw;

  display: block;

  background: url(#{$image--path}/KTC-hero-2.jpg) center no-repeat transparent;
  background-size: cover;

  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  min-height: 400px;
}

.episode__lab-title {
  font-size: 18px;
  padding: 10px;
  background-color: #f2f2f2;
}

.episode__content {
  ol, ul {
    margin: 20px 0px 26px 40px;
  }
}