/* ## Entry Meta
--------------------------------------------- */

.entry-meta {
  color: #1b202d;
  font-weight: 400;
  margin-bottom: 0;

  .entry-footer & {
    .button {
      @include rem( font-size, 12px );
      padding: 7px 15px;
    }
  }
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
  display: block;
}