//
// Learn More
//===================

body.learn-more {
  .entry {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .technology-section  {
    overflow: hidden;
    margin: 0 -50vw;
    padding: 20px 50vw;

    code {
      background: transparent;
      border: none;
      padding: 0;
      font-weight: 400;
      font-size: $base-font-size;
      @include border-top-radius(0px);
      @include border-right-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
    }

    a, p, h2, h3, code, & {
      color: $white;
    }

    code:hover, a:hover, a:focus {
      color: $orange;
    }
  }

  #php {
    background-color: $colorPHP;
  }
  #wordpress {
    background-color: $colorWordPress;
  }
  #genesis {
    background-color: $colorGenesis;
  }
}