$hamburgerSpacing: 8px;
body.site-header-as-sidebar {
  &.main-nav--open .hamburger-container {
    height: 40px;
  }

  .hamburger--button {
    float: right;

    width: $hamburger--width;
    height: $hamburger--height;
    cursor: pointer;

    transform: translate(0, -20px);
    border-bottom: none;
    background-color: $darkBlue;

    border: 0;
    padding: 10px 10px;

    &:focus {
      outline: 0;
      background-color: $green;
    }
  }

  .hamburger--text {
    text-align: center;
    color: $white;
    font-size: 12px;
    display: block;
  }

  .hamburger--lines {
    display: block;
    position: relative;
    height: 38px;
    margin: 0 auto;

    &:hover .hamburger--line {
      background-color: $green;
      transform: scale(1.3);
    }
  }

  .hamburger--line {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $white;

    left: 10px;
    transition: all ease-in-out 0.2s;

    @for $index from 0 through 2 {
      &:nth-child(#{$index + 1}) {
        top: 10px + $index * $hamburgerSpacing;
      }
    }
  }

  &.main-nav--open .hamburger--line {
    transition: all 0.2s ease-in-out;
    margin-top: 10px;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }
  }


  @media screen and (min-width: $full-layout--screen) {
    .hamburger--button {
      display: none;
    }
  }
}