.boxed-grid {
  background-color: $background--accent-color;
  h2 {
    font-size: 20px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1025px) {
      font-size: 26px;
    }

    @media screen and (min-width: 1400px) {
      font-size: 32px;
    }
  }
}